.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 24px;
    padding-left: 24px;
    color: #14213d;
    font-weight: 600;
}
.navbar{
    background: #e5e5e5;
    .navbar-brand{
        color: #14213d;
        padding-top: 0px;
        padding-bottom: 0px;
        img{
            height: 50px;
            width: 50px;
            margin-top: 4px;
        }
    }
    ul{
        li{
            a{
                color: #14213d;
                font-weight: 600;
            }
            a:hover{
                background: #14213d;
                color: #e5e5e5 !important;   
            }
        }
    }
        .btn.btn-outline-dark{
        border: 1px solid #14213d;
        font-weight: 600;
        .btn.btn-outline-dark:hover {
            background: #14213d;
            color: #e5e5e5;
            }
        }
}

#index{
    background: url(../img/background.jpg);
    background-size: cover;
    width: 100%;
    color: #a8dadc;
    .dark-overlay{
        background: rgba(0,0,0,0.600);
        height: 100%;
        width: 100%;
        .col-sm-6{
            margin-top: 100px;
            margin-bottom: 100px;
            .timer{
                h2{
                    color: #e63946;
                }
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    .content-box{
        background: #a8dadc;
        color: #e63946;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 12px 5px #14213d;
        h4{
            margin-bottom: 24px;
        }
        .btn.btn-outline-dark{
            border: 1px solid #14213d;
            font-weight: 600;
            .btn.btn-outline-dark:hover {
                background: #14213d;
                color: #e5e5e5;
                }
            }
            p{
                margin-top: 25px;
            }
    }
}
#collection{
    background: #e5e5e5;
    color: #14213d;
    .row:hover{
        background: #e5e5e5;
    }
    h2{
        text-align: center;
        padding-top: 30px;
    }
    ul{
        width: max-content;
        margin: auto;
    }
    .nav-link{
        border: 1px solid #14213d;
        background:  #e5e5e5;
        color: #14213d;
        margin-right: 10px;
        padding: 4px 1rem;
    }
    .nav-link:hover{
        background:  #14213d;
        color: #e5e5e5;
    }
    .nav-link.active{
        background:  #14213d;
        color: #e5e5e5;
    }
    .tab-content{
        background: #a8dadc;
        margin-top: 40px;
        box-shadow: 0px 0px 12px 5px #14213d;
        .row{
            padding: 15px;
        }
        img{
            float: left;
            height: 90px;
            width: 90px;
            
        }
        .fa.fa-map-marker{
            margin-left: 10px;
            margin-right: 5px;
        }
        h4{
            padding-left: 110px;
        }
        p{
            padding-left: 110px;
        }
        .btn.btn-outline-dark{
            border: 1px solid #14213d;
            font-weight: 600;
            .btn.btn-outline-dark:hover {
                background: #14213d;
                color: #e5e5e5;
                }
            }
    }
    .btn-see{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
        .btn{
            padding-top: 4px;
            margin-top: 15px;
            background: #e5e5e5;
            color: #14213d;
            font-weight: 600;
            letter-spacing: 2px;
            box-shadow: 0px 0px 12px 5px #14213d;
        }
        .btn:hover{
            background: #14213d;
            color: #e5e5e5;
        }
    }
}

@media (max-width: 767px){
    #index{
        .dark-overlay{
            .col-sm-6{
                margin-top: 20px;
                .timer{
                    text-align: center;
                    p{
                        font-size: 12px;
                    }
                    h2{
                        color: #e63946;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    #collection{
        .col-md-3{
            margin-top: 12px !important;
        }
    }
}
